@import "variaveis.scss";

html{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

header, footer{
  width: 100%;
}

header{
  background-color: $color-header;
  height: 70px;
}

.aviso{
  color: $color-font;
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  .aviso{
    font-size: 1em;
  }
}

div{
  ul{
    list-style: none;
    li{
      display: inline-block;
      img{
        width: 300px;
        height: 200px;
        margin: 20px;
      }
      .pais{
        color: $color-img;
        position: absolute;
        top: 65%;
        left: 13%;
        font-size: 1.2em;
      }
      .cidade{
        color: $color-img;
        position: absolute;
        top: 75%;
        left: 13%;
      }
      .cifrao{
        color: $color-img;
        position: absolute;
        size: 50px;
        right: 10%;
        bottom: 22%;
      }
      .valor{
        color: $color-img;
        position: absolute;
        size: 50px;
        right: 10%;
        bottom: 7%;
      }
    }
  }
}

footer{
  bottom: 0;
  background-color: $color-header;
  height: 70px;
}